/*
Comando SASS
sass --watch scss/style.scss css/style.css
*/
/*header*/
.encabezado {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.encabezado .H1 {
  color: #051367;
  font-style: italic;
  font-size: 220%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

/*footer*/
.footer {
  color: #020358;
  text-align: center;
  text-decoration: double;
  margin: 50px;
}

/*variables*/
/*media query*/
* {
  margin: 0;
  padding: 0;
}

/*colores*/
.fondoWeb .contacto, .fondoWeb .descripcionPerfil, .fondoWeb .enlacesdeNavegacion {
  display: flex;
  flex-direction: row;
}

/*nesting o anidamiento*/
.fondoWeb {
  margin: 10px;
  padding: 20px;
  background-image: linear-gradient(to bottom, white, rgb(226, 226, 204));
  margin: auto;
  display: contents;
}
.fondoWeb .logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.fondoWeb .H2 {
  color: #051367;
  margin: 50px;
  font-style: oblique;
  font-size: 150%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: zoomIn;
  animation-duration: 3s;
}
.fondoWeb .enlacesdeNavegacion {
  color: #000746;
  font-size: 130%;
  text-align: center;
  line-height: 6;
  padding: 5;
  justify-content: space-evenly;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-content: stretch;
  align-items: center;
}
.fondoWeb .descripcionPerfil {
  border: 10px;
  text-align: unset;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}
.fondoWeb .descripcionPerfil .fotoPerfil {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.fondoWeb .descripcionPerfil .parrafo1 {
  color: #1c1e97;
  line-height: 1.6;
  padding: 10px;
  margin-top: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}
.fondoWeb .parrafos2 {
  margin: 30px;
  padding: 30px;
  color: #0920f1;
  line-height: 1.6;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fondoWeb .bloque {
  display: flex;
}
.fondoWeb .seccionesDescriptivas {
  background-image: linear-gradient(to right, rgb(248, 248, 241), rgb(247, 247, 216));
  border-style: hidden;
  padding: 5px;
  margin: 5px;
  border: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*Transicion*/
}
.fondoWeb .seccionesDescriptivas .H3 {
  color: #000746;
  text-align: center;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fondoWeb .seccionesDescriptivas .H3:hover {
  color: #1c1e97;
  text-align: center;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition-property: all;
  transition-duration: 5s;
}
.fondoWeb .seccionesDescriptivas .parrafos2 {
  padding: 10px;
  color: #2c68f3;
  line-height: 1.6;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fondoWeb .contacto {
  padding: 10px;
  margin: 5px;
  justify-content: center;
  align-content: space-between;
}
.fondoWeb .contacto .parrafo3 {
  color: #000746;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fondoWeb .gallery-container {
  margin: 10px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  justify-items: space-around;
}
.fondoWeb .gallery-container .gallery-item {
  align-items: center;
}
.fondoWeb .listaTrabajosRealizados h3 {
  color: #000746;
  text-align: center;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fondoWeb .listaTrabajosRealizados ul {
  list-style: circle;
}
.fondoWeb .listaTrabajosRealizados ul li {
  color: #051367;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
}
.fondoWeb .listaTrabajosenProceso {
  color: #051367;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  padding-left: 0;
}
.fondoWeb .listaContactos {
  color: #051367;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}
.fondoWeb .listaContactosActuales {
  color: #051367;
  text-align: center;
  line-height: 8;
  padding-left: 0;
}
.fondoWeb .listaContactosActuales .list-group-item {
  color: #051367;
  text-align: center;
  line-height: 8;
}
.fondoWeb .contactoform {
  color: #051367;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 350px) {
  .fondoWeb .enlacesdeNavegacion {
    display: flex;
    justify-content: space-evenly;
  }
  .fondoWeb .encabezado {
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fondoWeb .descripcionPerfil {
    flex-direction: column;
  }
  .fondoWeb .bloque {
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  .fondoWeb .gallery-container {
    grid-template-columns: auto;
    justify-items: center;
  }
}
@media screen and (max-width: 540px) {
  .fondoWeb .enlacesdeNavegacion {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: center;
  }
  .fondoWeb .bloque {
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  .fondoWeb .descripcionPerfil {
    flex-direction: column;
  }
  .fondoWeb .gallery-container {
    grid-template-columns: auto;
    justify-items: center;
  }
  .fondoWeb .contacto {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

/*# sourceMappingURL=style.css.map */
