/*
Comando SASS
sass --watch scss/style.scss css/style.css
*/

/*nesting o anidamiento*/

.fondoWeb {

    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(to bottom, white, rgb(198, 226, 197));

    .encabezado {
        color: #5F7161;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    /*media query*/
    @media screen and (max-width:450px) {
        background-color: rgb(226, 226, 117);
    }

    .H2 {
        color: #3c5e06;
        text-align: center;
        animation: zoomIn;
        animation-duration: 3s;
    }

    .footer {
        color: #5F7161;
        text-align: center;
        text-decoration: double;

    }
}

.enlacesdeNavegacion {
    color: #032b88;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-evenly;
    text-align: center;


    .d-flex {
        color: #056185;
        text-decoration: underline;

        &:hover {
            color: rgb(89, 15, 226);
        }

    }

}


.listaTrabajosRealizados {
    color: #19241a;


    h3 {
        color: #3c5e06;
        justify-content: center;
        text-align: center;

    }


}

.listaTrabajosRealizados {

    ul {
        list-style: georgian;

        li {
            color: rgb(26, 87, 29);
            justify-content: center;
            text-align: center;
        }
    }
}