/*
Comando SASS
sass --watch scss/style.scss css/style.css
*/



@import '../scss/componentes/header.scss';

@import '../scss/componentes/footer.scss';

@import '../scss/base/variables';

@import '../scss/base/estilosGenerales.scss';

@import '../scss/base/listas';

@import '../scss/base/mapas.scss';

@import '../scss/base/extends.scss';

@import '../scss/base/mixin.scss';


/*nesting o anidamiento*/

.fondoWeb {

    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(to bottom, white, rgb(226, 226, 204));
    margin: auto;
    display: contents;

    .logo {
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .H2 {
        color: $azulmarino;
        margin: 50px;
        font-style: oblique;
        font-size: 150%;
        text-align: $text-align-center;
        font-family: $Lucida;
        animation: zoomIn;
        animation-duration: 3s;


    }

    .enlacesdeNavegacion {
        color: map-get($colores , principal);
        font-size: 130%;
        text-align: $text-align-center;
        line-height: 6;
        padding: 5;
        justify-content: $d-flex-justify-space;
        font-family: $Lucida;
        align-content: stretch;
        align-items: center;
        @extend %flex;
    }

    .descripcionPerfil {
        border: 10px;
        text-align: unset;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        @extend %flex;

        .fotoPerfil {
            width: 100%;
            max-width: 300px;
            height: auto;
        }

        .parrafo1 {
            color:  map-get($colores , secundario);
            line-height: 1.6;
            padding: 10px;
            margin-top: 70px;
            font-family: $Lucida;
            text-align: justify;
        }
    }

    .parrafos2 {
        margin: 30px;
        padding: 30px;
        color:  map-get($colores , claro);
        line-height: 1.6;
        justify-content: center;
        font-family: $Lucida;

    }


    .bloque {
        display: flex;
    }

    .seccionesDescriptivas {
        background-image: linear-gradient(to right, rgb(248, 248, 241), rgb(247, 247, 216));
        border-style: hidden;
        padding: 5px;
        margin: 5px;
        border: 10px;
        font-family: $Lucida;


        .H3 {
            color:  map-get($colores , principal);
            text-align: $text-align-center;
            padding: 5px;
            font-family: $Lucida;
        }

        /*Transicion*/

        .H3:hover {
            color:  map-get($colores , secundario);
            text-align: $text-align-center;
            padding: 5px;
            font-family: $Lucida;
            transition-property: all;
            transition-duration: 5s;
        }

        .parrafos2 {
            padding: 10px;
            color: #2c68f3;
            line-height: 1.6;
            justify-content: center;
            font-family: $Lucida;

        }

    }

    .contacto {
        padding: 10px;
        margin: 5px;
        justify-content: center;
        align-content: space-between;
        @extend %flex;

        .parrafo3 {
            color:  map-get($colores , principal);
            font-weight: bold;
            font-family: $Lucida;
        }
    }


    .gallery-container {

        margin: 10px;
        padding: 0;
        display: grid;
        gap: 20px;
        @include grid(auto auto auto, space-around);

        .gallery-item {
            align-items: center;
        }

    }



    .listaTrabajosRealizados {

        h3 {
            color:  map-get($colores , principal);
            text-align: $text-align-center;
            padding: 5px;
            font-family: $Lucida;

        }

        ul {
            list-style: circle;

            li {
                color: $azulmarino;
                display: flex;
                justify-content: space-around;
                padding: 5px;
                text-align: center;
            }
        }

    }

    .listaTrabajosenProceso {
        color: $azulmarino;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: $d-flex-justify-space;
        align-content: stretch;
        align-items: stretch;
        padding-left: 0;
    }

    .listaContactos {
        color: $azulmarino;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: center;
    }

    .listaContactosActuales {
        color: $azulmarino;
        text-align: $text-align-center;
        line-height: 8;
        padding-left: 0;

        .list-group-item {
            color: $azulmarino;
            text-align: $text-align-center;
            line-height: 8;

        }
    }

    .contactoform {
        color: $azulmarino;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center
    }

    // celular
    @media screen and (max-width: $small) {

        .enlacesdeNavegacion {
            display: flex;
            justify-content: $d-flex-justify-space
        }

        .encabezado {
            color: white;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .descripcionPerfil {
            flex-direction: column;
        }

        .bloque {
            display: flex;
            align-content: center;
            flex-direction: column;
        }

        .gallery-container {
            @include grid(auto, center);
        }

    }

    //tablet
    @media screen and (max-width: $medium) {

        .enlacesdeNavegacion {
            display: flex;
            justify-content: $d-flex-justify-space;
            flex-direction: column;
            align-content: stretch;
            flex-wrap: wrap;
            align-items: center;
        }

        .bloque {
            display: flex;
            align-content: center;
            flex-direction: column;
        }

        .descripcionPerfil {
            flex-direction: column;
        }

        .gallery-container {
            @include grid(auto, center);
        }

        .contacto {
            display: flex;
            justify-content: center;
            align-content: flex-end;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: stretch;
        }
    }

}

