/*
selector{
    propiedad: valor;
}

*/

/*Gradient */
.fondoWeb {

    background-image: linear-gradient(to bottom, white, rgb(226, 226, 218));
    margin: auto;
    display: contents;
}

.encabezado {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.H1 {
    color: #051367;
    font-style: italic;
    font-size: 220%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

/*Animacion */

.H2 {
    color: #051367;
    font-style: oblique;
    font-size: 150%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    animation: zoomIn;
    animation-duration: 3s;
}


.gallery-container {

    margin: 10px;
    padding: 0;
    display: grid;
    /*declarar filas*/
    grid-template-rows: auto auto;
    /*declarar columnas*/
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.gallery-item {
    align-items: center;
}

.enlacesdeNavegacion {
        color: #000746;
        font-size: 130%;
        text-align: center;
        line-height: 6;
        padding: 5;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        align-content: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
}

.descripcionPerfil {
    display: flex;
    border: 10px;
    flex-direction: row;
    text-align: unset;
}

.bloque {
    display: flex;
}

/*Gradient*/
.seccionesDescriptivas {
    background-image: linear-gradient(to right, rgb(248, 248, 241), rgb(247, 247, 216));
    border-style: hidden;
    padding: 5px;
    margin: 5px;
    border: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.H3 {
    color: #050e61;
    text-align: center;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Transicion*/

.H3:hover {
    color: #0920f1;
    text-align: center;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition-property: all;
    transition-duration: 5s;
}

.parrafo1 {
    color: #1c1e97;
    line-height: 1.6;
    padding: 10px;
    margin-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.parrafos2 {
    padding: 10px;
    color: #2c68f3;
    line-height: 1.6;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.parrafo3 {
    color: #000957;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.descargaTesis {
    text-align: center;
    line-height: 6;
}

.listaTrabajosRealizados {
    color: #051367;
    display: flex;
    justify-content: space-around;
    padding: 5px;

}

.listaTrabajosenProceso {
    color: #051367;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
}

.listaContactos{
    color: #051367;
    text-align: center;
    line-height: 8;
}

.listaContactosActuales {
    color: #051367;
    text-align: center;
    line-height: 8;
}

.list-group-item {

    color: #051367;
    text-align: center;
    line-height: 8;  

}

.contactoform {
    color: #051367;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center
}

.footer {
    color: #022c55;
    display: flex;
    justify-content: center;
    line-height: 6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


