 /*variables*/
 
 
 /*media query*/
 $small: 350px;
 $medium: 540px;

 $azulmarino: #051367; 
 $Lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 $d-flex-justify-space: space-evenly;
 $text-align-center: center;

