
/*header*/

.encabezado {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    


    .H1 {
        color: #051367;
        font-style: italic;
        font-size: 220%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: auto;
        margin-bottom: auto;
    }

}


